<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.hemend.flutter.plugins.pedometer">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>
        <service android:name=".libs.BackgroundService" android:enabled="true" android:exported="true"></service>
        <receiver android:name=".libs.BackgroundReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
